<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.ActiviteMapper">

    <select id="getActivite" resultType="ca.usherbrooke.gegi.server.business.Activite">
        SELECT activite.activite_id as activiteId, activite.local, activite.nom as activiteNom,lower(activite.periode) as debut, upper(activite.periode) as fin, app.app_id as appId, app.nom as appNom, app.cours as appCours, type_activite.type_id as typeId, type_activite.nom as typeNom FROM activite
        INNER JOIN type_activite ON type_activite.type_id = activite.type_id
        INNER JOIN app ON app.app_id = activite.app_id
        INNER JOIN app_usager ON app_usager.app_id = activite.app_id
        WHERE app.app_id = #{appID} AND type_activite.type_id = #{typeID} AND app_usager.cip = #{cip}
        ORDER BY activiteNom,activite.periode ASC;
    </select>

    <select id="getPoids" resultType="ca.usherbrooke.gegi.server.business.Poids">
        SELECT usager.cip, (SELECT COUNT(intendant.app_id) FROM intendant WHERE intendant.cip = usager.cip GROUP BY intendant.cip) / CAST((SELECT COUNT(session_app.app_id) FROM session_app
        WHERE session_app.session_id = (SELECT session_app.session_id FROM session_app WHERE session_app.app_id = #{appID})) AS FLOAT) AS poids
        FROM usager;
    </select>

    <select id="getEtudiantPreference" resultType="ca.usherbrooke.gegi.server.business.EtudiantPreference">
        SELECT app_usager.cip as cip, usager_preference.preference_id as preferenceapp, usager.preference_id as preferenceglobal, usager_preference.intendant as intendant
        FROM app_usager
        LEFT JOIN usager_preference ON usager_preference.cip = app_usager.cip
        INNER JOIN usager ON usager.cip = app_usager.cip
        WHERE app_usager.app_id = #{appID} AND (usager_preference.app_id is null OR usager_preference.app_id = #{appID});
    </select>

    <select id="getPreference" resultType="ca.usherbrooke.gegi.server.business.Preference">
        SELECT preference.preference_id as preferenceId, preference.nom, preference.debut, preference.fin FROM preference;
    </select>
</mapper>
