<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.PreferenceMapper">

    <select id="getPreferences" resultType="ca.usherbrooke.gegi.server.business.Preference">
        SELECT preference_id, nom FROM public.preference
    </select>

    <select id="getPreferenceIntendance" resultType="java.lang.Boolean">
        SELECT intendant FROM public.usager_preference
            WHERE cip = #{cip} AND app_id = #{idAPP}
    </select>

    <update id="setPreferenceIntendance">
        UPDATE public.usager_preference
            SET intendant = #{intendance}
            WHERE cip = #{cip} AND app_id = #{idAPP}
    </update>

    <select id="getPreferenceUsager" resultType="Integer">
        SELECT preference_id FROM public.usager
        WHERE cip = #{cip}
    </select>
    <insert id="setPreferenceUsagerAPP">
        INSERT INTO public.usager_preference (cip,preference_id,app_id,intendant) VALUES (#{cip},#{preferenceId},#{appId},#{intendant});
    </insert>
    <select id="getPreferenceUsagerAPP" resultType="java.lang.Integer">
        SELECT preference_id FROM public.usager_preference
        WHERE cip = #{cip} AND app_id = #{appId}
    </select>
    <select id="getRowExistPreferenceUsagerAPP" resultType="java.lang.Boolean">
        SELECT EXISTS(select * from usager_preference WHERE cip = #{cip} AND app_id = #{appId});
    </select>
    <update id="updateIntendant">
        UPDATE public.usager_preference
        SET intendant = #{intendant},preference_id = #{preferenceId}
        WHERE cip = #{cip} AND app_id = #{appId}
    </update>
</mapper>
